.chckBx {margin-top:5px; -webkit-column-count:2; -moz-column-count:2;-ms-column-count:2;
column-count:2; text-align:left; vertical-align:middle; position:relative; display:block;margin-bottom:0; font-size:1.2vh}
.dzdatsels {display:inline-block; width:15vw;vertical-align:top}
